# Copia este archivo a .env si quieres usar variables en tu entorno o con un servidor que inyecte variables
# PERSONA_BASE=http://localhost:3001/api
# BOOTCAMP_BASE=http://localhost:3002/api
# CAPACIDAD_BASE=http://localhost:3003/api
# TECNOLOGIA_BASE=http://localhost:3004/api
# REPORTE_BASE=http://localhost:3005/api
